.imagenCampeon{
	width: 100px;
	height: 100px;
}
.imagenSkinCampeon{
	width: 415px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.detallesCampeon{
	float: right;
	padding-right: 70px;
	padding-top: 47.5px;
	width: 30%;
}
.contenedorCampeon{
	float: left;
	width: 60%;
	padding-left: 50px;
	padding-top: 30px;
}
.habilidad .habilidadCampeonImagen{
	width: 100px;
	height: 100px;
}