<div *ngIf="juego=='paladins'">
  <div *ngIf="campeon">
    <div class="detallesCampeon">
      <h1>{{campeon.Name}}</h1>

      <img class="imagenCampeon" src="{{campeon.ChampionIcon_URL}}"/>

      <div class="campeonLore">
        Lore:
        <span>{{campeon.Lore}}</span>
      </div>
    </div>
    <div class="habilidadesCampeon">
      Habilidades:
      <div class="habilidad">
        <h3>{{campeon.Ability1}}</h3>
        <img class="habilidadCampeonImagen" src="{{campeon.Ability_1.URL}}"/>
        <p>{{campeon.Ability_1.Description}}</p>
        
      </div>
      <div class="habilidad">
        <h3>{{campeon.Ability2}}</h3>
        <img class="habilidadCampeonImagen" src="{{campeon.Ability_2.URL}}"/>
        <p>{{campeon.Ability_2.Description}}</p>
        
      </div>
      <div class="habilidad">
        <h3>{{campeon.Ability3}}</h3>
        <img class="habilidadCampeonImagen" src="{{campeon.Ability_3.URL}}"/>
        <p>{{campeon.Ability_3.Description}}</p>
        
      </div>
      <div class="habilidad">
        <h3>{{campeon.Ability4}}</h3>
        <img class="habilidadCampeonImagen" src="{{campeon.Ability_4.URL}}"/>
        <p>{{campeon.Ability_4.Description}}</p>
        
      </div>
      <!--<div *ngFor='let skinCampeon of skinsCampeon'>
        {{skinCampeon.skin_name}}
      </div>-->
    </div>
  </div>
</div>
<div *ngIf="juego=='smite'">
  <div *ngIf="campeon">
    <div class="detallesCampeon">
      <h1>{{campeon.Name}} - {{campeon.Title}}</h1>

      <img class="imagenCampeon" src="{{campeon.godIcon_URL}}"/>

      <div class="campeonLore">
        Lore:
        <br/>
        <br/>
        <span>{{campeon.Lore}}</span>
      </div>
    </div>
    <div class="habilidadesCampeon">
      Habilidades:
      <div class="habilidad">
        <h3>{{campeon.Ability1}}</h3>
        <img class="habilidadCampeonImagen" src="{{campeon.Ability_1.URL}}"/>
        <p>{{campeon.Ability_1.Description.itemDescription.description}}</p>
      </div>
      <div class="habilidad">
        <h3>{{campeon.Ability2}}</h3>
        <img class="habilidadCampeonImagen" src="{{campeon.Ability_2.URL}}"/>
        <p>{{campeon.Ability_2.Description.itemDescription.description}}</p>
        
      </div>
      <div class="habilidad">
        <h3>{{campeon.Ability3}}</h3>
        <img class="habilidadCampeonImagen" src="{{campeon.Ability_3.URL}}"/>
        <p>{{campeon.Ability_1.Description.itemDescription.description}}</p>
        
      </div>
      <div class="habilidad">
        <h3>{{campeon.Ability4}}</h3>
        <img class="habilidadCampeonImagen" src="{{campeon.Ability_4.URL}}"/>
        <p>{{campeon.Ability_4.Description.itemDescription.description}}</p>
        
      </div>
      <!--<div *ngFor='let skinCampeon of skinsCampeon'>
        {{skinCampeon.skin_name}}
      </div>-->
    </div>
  </div>
</div>
<div *ngIf="juego=='lol'">
  <div *ngIf="campeon">
    <div class="detallesCampeon">
      <img class="imagenCampeon" src="https://ddragon.leagueoflegends.com/cdn/9.20.1/img/champion/{{campeon.name}}.png"/>
      <h3>{{campeon.name}} - {{campeon.title}}</h3>
      

      <div class="campeonLore">
        Lore:
        <br/>
        <br/>
        <span>{{campeon.lore}}</span>
      </div>
    </div>
    <mat-tab-group>
        <mat-tab label="Habilidades" color="accent">
            <div class="habilidadesCampeon">
                <div class="pasivaCampeon">
                  Pasiva: {{campeon.passive.name}}
                  <img src="http://ddragon.leagueoflegends.com/cdn/9.20.1/img/passive/{{campeon.passive.image.full}}"/>
                  <p>{{campeon.passive.description}}</p>
                </div>
                <div *ngFor="let habilidadCampeon of campeon.spells">
                  {{habilidadCampeon.id}}:{{habilidadCampeon.name}}
                  <img src="http://ddragon.leagueoflegends.com/cdn/9.20.1/img/spell/{{habilidadCampeon.id}}.png"/>
                  <p>{{habilidadCampeon.description}}</p>
                </div> 
              </div>
        </mat-tab>
        <mat-tab label="Detalles"></mat-tab>
        <mat-tab label="Skins"></mat-tab>
      </mat-tab-group>
        <!--Skins:<ng-image-slider [images]="skinsImageObject" #nav></ng-image-slider>-->
    </div>
  </div>