<div *ngIf="juego=='paladins'">
  <div *ngIf="campeon">
    <div class="detallesCampeon">
      <h3>{{campeon.Name}} - {{campeon.Title}}</h3>
      <img class="imagenCampeon" src="{{campeon.ChampionIcon_URL}}"/>
      <div class="campeonLore">
        Lore:
        <span>{{campeon.Lore}}</span>
      </div>
    </div>
    <div class="contenedorCampeon">
      <mat-tab-group>
        <mat-tab label="Habilidades">
          <div class="habilidad">
            <div>{{campeon.Ability1}}</div>
            <div style="display: inline-block; vertical-align: top;">
              <img class="habilidadCampeonImagen" src="{{campeon.Ability_1.URL}}"/>
            </div>
            <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
              {{campeon.Ability_1.Description}}
            </div>
          </div>
          <div class="habilidad">
            <div>{{campeon.Ability2}}</div>
            <div style="display: inline-block; vertical-align: top;">
              <img class="habilidadCampeonImagen" src="{{campeon.Ability_2.URL}}"/>
            </div>
            <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
              {{campeon.Ability_2.Description}}
            </div>
          </div>
          <div class="habilidad">
            <div>{{campeon.Ability3}}</div>
            <div style="display: inline-block; vertical-align: top;">
              <img class="habilidadCampeonImagen" src="{{campeon.Ability_3.URL}}"/>
            </div>
            <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
              {{campeon.Ability_3.Description}}
            </div>

          </div>
          <div class="habilidad">
            <div>{{campeon.Ability4}}</div>
            <div style="display: inline-block; vertical-align: top;">
              <img class="habilidadCampeonImagen" src="{{campeon.Ability_4.URL}}"/>
            </div>
            <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
              {{campeon.Ability_4.Description}}
            </div>

          </div>
        </mat-tab>
        <mat-tab label="Skins">
            Aspectos de {{campeon.Name}}:
            <div *ngFor="let skin of skinsCampeon">
              <p>{{skin.skin_name}}</p>
              <img class="imagenSkinCampeon" src="" alt="">
            </div>
          </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div *ngIf="juego=='smite'">
  <div *ngIf="campeon">
    <div class="detallesCampeon">
      <h3>{{campeon.Name}} - {{campeon.Title}}</h3>

      <img class="imagenCampeon" src="{{campeon.godIcon_URL}}"/>

      <div class="campeonLore">
        Lore:
        <br/>
        <br/>
        <span>{{campeon.Lore}}</span>
      </div>
    </div>
    <div class="contenedorCampeon">
      <mat-tab-group>
      <mat-tab label="Habilidades">
      <div class="habilidad">
        <div>{{campeon.Ability1}}</div>
        <div style="display: inline-block; vertical-align: top;">
          <img class="habilidadCampeonImagen" src="{{campeon.Ability_1.URL}}"/>
        </div>
        <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
          {{campeon.Ability_1.Description.itemDescription.description}}
        </div>
      </div>
      <div class="habilidad">
        <div>{{campeon.Ability2}}</div>
        <div style="display: inline-block; vertical-align: top;">
          <img class="habilidadCampeonImagen" src="{{campeon.Ability_2.URL}}"/>
        </div>
        <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
          {{campeon.Ability_2.Description.itemDescription.description}}
        </div>
      </div>
      <div class="habilidad">
        <div>{{campeon.Ability3}}</div>
        <div style="display: inline-block; vertical-align: top;">
          <img class="habilidadCampeonImagen" src="{{campeon.Ability_3.URL}}"/>
        </div>
        <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
          {{campeon.Ability_1.Description.itemDescription.description}}
        </div>
      </div>
      <div class="habilidad">
        <div>{{campeon.Ability4}}</div>
        <div style="display: inline-block; vertical-align: top;">
          <img class="habilidadCampeonImagen" src="{{campeon.Ability_4.URL}}"/>
        </div>
        <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
          {{campeon.Ability_4.Description.itemDescription.description}}
        </div>
      </div>
      </mat-tab>
      <mat-tab label="Skins">
        Aspectos de {{campeon.Name}}:
        <div *ngFor="let skin of skinsCampeon">
          <p>{{skin.skin_name}}</p>
          <img class="imagenSkinCampeon" src="{{skin.godSkin_URL}}" alt="">
        </div>
      </mat-tab>
    </mat-tab-group>
    </div>
  </div>
</div>
<div *ngIf="juego=='lol'">
  <div *ngIf="campeon">
    <div class="detallesCampeon">
      <img class="imagenCampeon" src="https://ddragon.leagueoflegends.com/cdn/{{versionLol}}/img/champion/{{campeon.name}}.png"/>
      <h3>{{campeon.name}} - {{campeon.title}}</h3>


      <div class="campeonLore">
        Lore:
        <br/>
        <br/>
        <span>{{campeon.lore}}</span>
      </div>
      <div *ngIf="campeon.partype != 'Nada'">
        <p>{{campeon.name}} consume {{campeon.partype}} en sus habilidades</p>
      </div>
      <div *ngIf="campeon.partype == 'Nada'">
        <p>{{campeon.name}} no necesita mána, energía o  furia en sus habilidades</p>
      </div>
    </div>
    <div class="contenedorCampeon">
    <mat-tab-group>
        <mat-tab label="Habilidades">

                <div class="pasivaCampeon" style="padding-top: 20px;padding-bottom: 20px;">
                  <div>Pasiva: {{campeon.passive.name}}</div>
                  <div style="display: inline-block; vertical-align: top;">
                      <img style="width: 100%;" src="https://ddragon.leagueoflegends.com/cdn/{{versionLol}}/img/passive/{{campeon.passive.image.full}}"/>
                  </div>
                  <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">{{campeon.passive.description}}</div>
                </div>
                <div *ngFor="let habilidadCampeon of campeon.spells" style="padding-top: 20px;padding-bottom: 20px;">
                  <div>{{habilidadCampeon.name}}:</div>
                  <div style="display: inline-block; vertical-align: top;">
                    <img src="https://ddragon.leagueoflegends.com/cdn/{{versionLol}}/img/spell/{{habilidadCampeon.id}}.png"/>
                  </div>
                  <div style="width: 70%;display: inline-block;margin-left: 50px;text-align: justify;">
                    {{habilidadCampeon.description}}
                  </div>
                </div>
        </mat-tab>
        <mat-tab label="Detalles">
            Consejos como aliado:
            <ul>
              <li *ngFor="let consejosAliado of campeon.allytips">
                {{consejosAliado}}
              </li>
            </ul>
            Consejos como enemigo:
            <ul>
              <li *ngFor="let consejosEnemigo of campeon.enemytips">
                {{consejosEnemigo}}
              </li>
            </ul>
        </mat-tab>
        <mat-tab label="Skins">
                Aspectos de {{campeon.name}}:
                <div *ngFor="let skin of campeon.skins">
                  <p *ngIf="skin.name!='default'">{{skin.name}}</p>
                  <p *ngIf="skin.name=='default'">Aspecto por Defecto</p>
                  <img class="imagenSkinCampeon" src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{campeon.name}}_{{skin.num}}.jpg" alt="">
                </div>
        </mat-tab>
      </mat-tab-group>
      </div>

    </div>
  </div>
