.imagenCampeon{
	width: 100px;
	height: 100px;
}
.detallesCampeon{
	float: right;
	padding-right: 70px;
	width: 30%;
}
.habilidadesCampeon{
	float: left;
	width: 60%;
	padding-left: 50px;
	padding-top: 30px;
}
.habilidad .habilidadCampeonImagen{
	width: 100px;
	height: 100px;

}