<mat-toolbar color="primary">
  <span>{{tituloApp}}</span>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Buscador de Invocadores">
    <ng-template mat-tab-label>
      Buscador de Invocadores
    </ng-template>
    <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile>
          <mat-form-field>
            <!-- <input matInput placeholder="Nombre de Invocador" [(ngModel)]="nombreInvocador"> -->
            <span matTooltip="Introduce aquí el nombre de tu invocador" matSuffix>
              <mat-icon color="accent" style="font-size:14px">help</mat-icon>
            </span>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Selecciona tu región">
              <mat-option *ngFor="let region of regiones" [value]="region.value">
                {{ region.viewValue }}
              </mat-option>
            </mat-select>
            <span matTooltip="Selecciona tu región asignada en el juego" matSuffix>
              <mat-icon color="accent" style="font-size:14px">help</mat-icon>
            </span>
          </mat-form-field>
          <!-- <button mat-raised-button color="primary" (click)="buscarEstadisticas(nombreInvocador)">Buscar estadisticas</button> -->
      </mat-grid-tile>
    </mat-grid-list>
    </mat-tab>
  <mat-tab label="Campeones">
    <ng-template mat-tab-label>
      Campeones
    </ng-template>
    </mat-tab>
</mat-tab-group>
