<mat-toolbar color="{{tabs.backgroundcolor}}">
  <span>{{tituloApp}}</span>
  <span class="espacio-invisible-izquierda"></span>
</mat-toolbar>
<mat-tab-group (selectedTabChange)="onSelectChange($event)" backgroundColor="{{tabs.accentcolor}}" color="{{tabs.backgroundcolor}}">
  <mat-tab label="League of Legends"></mat-tab>
  <mat-tab label="Paladins"></mat-tab>
  <mat-tab label="Smite"></mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>

<mat-toolbar id="footerPaginaPrincipal" color="{{tabs.backgroundcolor}}">
  <span  (click)="openPortfolio()">{{tituloApp}} © - Creado y Desarrollado por dherediat97</span>
</mat-toolbar>
