.cardChampion, .cardGod {
  max-width: 200px;
  margin: 20px;
  display: inline-block;
  text-align: left;
}

.cardChampion .championRol{
  margin-top: 20px;
}
.listaCampeones{
  margin:0 auto;display:block;
}