<div class="listaCampeones">
  <mat-card class="cardChampion" *ngFor='let campeon of campeones' (click)="detallesCampeon(campeon.name)">
  <div fxFlex="20%">
        <mat-card-header>
        <mat-card-title>{{campeon.name}}</mat-card-title>
        <mat-card-subtitle>{{campeon.title}}</mat-card-subtitle>
      </mat-card-header>
        <img class="imagenCampeon" mat-card-lg-image  src="https://ddragon.leagueoflegends.com/cdn/{{version}}/img/champion/{{campeon.id}}.png" />
      <mat-card-content>
      </mat-card-content>
    </div>
    </mat-card>
</div>
