<div  style="margin:0 auto;display:block;" >
  <mat-card class="cardChampion" *ngFor='let campeon of campeones' (click)="detallesCampeon(campeon.name)">
    <mat-card-header>
      <mat-card-title>{{campeon.name}}</mat-card-title>
      <mat-card-subtitle>{{campeon.title}}</mat-card-subtitle>
    </mat-card-header>
    <img class="imagenCampeon" mat-card-xs-image src="https://ddragon.leagueoflegends.com/cdn/9.20.1/img/champion/{{campeon.id}}.png" />
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
